h1{
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2/3;
}

.side{
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-row: 1/3;
  padding: 10px;
}

.side > button{
  border: 0px;
  box-shadow: 0px;
  padding: 1.5vh;
  border-radius: 10px;
}

.app{
  height: 100vh;
  display: grid;
  grid-template: 7vh 1fr/ 1fr 5fr;
  gap: 2px;
}

.app > div{
  background-color: white;
}