h1{
  margin: 0px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 2/3;
}

.header > div{
  display: flex;
  gap: 10px;
  align-items: center;
}

.side{
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-row: 1/3;
  padding: 10px;
}

.side > button{
  background-color: white;
  border: 0px;
  padding: 1.5vh;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  transition: 0.5s;
}

.side > button:hover, .icon > *:hover, .recolhe:hover{
  border-radius: 10px;
  background-color: rgb(241, 240, 240);
}

#select{
  background-color: #9FC5E8;
  border-radius: 10px;
}

.side > div{
  display: flex;
}

.app{
  height: 100vh;
  display: grid;
  grid-template: minmax(50px, 7vh) 1fr/ 1fr 5fr;
  gap: 2px;
}

.app > div{
  background-color: white;
}

img{
  height: clamp(30px, 5vh, 5vh);
}