h1{
}

.header{
  background-image: linear-gradient(#f43f5e, #7dd3fc);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/3;
}

.side{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.side > button{
  border: 0px;
  box-shadow: 0px;
  padding: 1.5vh;
  
}

.app{
  height: 100vh;
  display: grid;
  grid-template: 1fr 6fr/ 1fr 6fr;
  gap: 5px;
}

.app > div{
  background-color: #7dd3fc;
}